@media handheld,
only screen and (max-width: 1500px) {
    .layout-wide .crumbs:before {
        left: 15%
    }
    .filter-title {
        top: 56%;
        left: 0;
        margin-left: 0;
        width: 100%
    }
    .title-header h1 {
        font-size: 4rem;
        line-height: 4.3rem
    }
    .filter-header {
        max-width: 80%
    }
}
@media handheld,
only screen and (max-width: 1250px) {
    .flat-mega-menu>ul>li>a {
        padding-left: 8px;
        padding-right: 8px;
        font-size: .78rem
    }
    .flat-mega-menu>ul>.title i {
        right: 20%
    }
    .filter-title {
        top: 53%;
        left: 0;
        margin-left: 0;
        width: 106%
    }
    .title-header h1 {
        font-size: 3.5rem;
        line-height: 3.7rem
    }
    .layout-semiboxed .flat-mega-menu .container,
    .layout-semiboxed footer .container {
        width: auto!important;
        padding-right: 15px!important;
        padding-left: 15px!important
    }
}
@media handheld,
only screen and (max-width: 1024px) {
    .section-title {
        height: 290px
    }
    .semiboxshadow img {
        display: none
    }
}
@media handheld,
only screen and (max-width: 999px) {
    .content-info,
    .layout-wide .content-info {
        max-width: auto
    }
    .footer-down,
    .footer-down ul,
    .section-title-02,
    .section-title-03,
    .services-lines-info,
    .testimonial-info,
    header {
        text-align: center
    }
    html {
        font-size: 14px
    }
    header {
        position: relative
    }
    .content-info {
        margin-top: 0;
        margin-bottom: -120px
    }
    .layout-wide .semiboxshadow {
        display: none
    }
    .layout-boxed-margin {
        max-width: 1230px;
        margin: 0 auto
    }
    .post-item h4,
    footer h4 {
        margin-top: 20px
    }
    .img-footer {
        margin-top: 60px
    }
    .footer-v3 .img-footer {
        margin-top: 0;
        margin-bottom: 0
    }
    .header-v1 {
        max-height: 2000px!important
    }
    .flat-mega-menu>ul>.title>a {
        padding-left: 0;
        padding-right: 0
    }
    .flat-mega-menu>ul>.title i {
        right: 40%
    }
    .flat-mega-menu>ul>li>a {
        font-size: 1rem
    }
    .filter-title {
        top: 35%;
        left: 10%;
        margin-left: -5%;
        width: 90%
    }
    .title-header h1 {
        font-size: 3rem;
        line-height: 3.4rem
    }
    .title-header p {
        max-width: 700px
    }
    .filter-header {
        max-width: 100%
    }
    .content-central {
        margin-top: -50px;
        margin-bottom: -150px
    }
    .services-lines {
        width: 100%;
        margin-top: 30px
    }
    .services-lines-info p.lead .line {
        margin: 20px auto
    }
    .promotion-box {
        margin: 0 auto 30px
    }
    #slide-features .btn,
    footer .input-group {
        margin-bottom: 20px
    }
    .info-testimonial {
        width: 100%;
        margin-left: 0
    }
    .testimonial-info {
        padding-bottom: 100px;
        padding-top: 80px
    }
    .content-boxes .item-boxed {
        width: 100%
    }
    .footer-v1 ul.nav-footer {
        margin-top: 10px
    }
    .section-title-01 h1 {
        padding-top: 180px
    }
    .section-title-02,
    .section-title-03 {
        height: 300px
    }
    .section-title-02 .crumbs,
    .section-title-03 .crumbs {
        padding: 0;
        text-align: center
    }
    .section-title-03 h1 {
        padding: 110px 0 10px
    }
    .section-title-03 .crumbs ul {
        margin: 10px auto;
        padding: 10px;
        list-style: none
    }
    .item-table {
        margin: 0 auto 30px;
        max-width: 380px;
        border: 1px solid #dedede!important
    }
}
@media handheld,
only screen and (max-width: 768px) {
    .list-styles li a {
        font-size: 11px
    }
    .cloth_head_font {
        font-size: 13px!important
    }
}
@media handheld,
only screen and (max-width: 600px) {
    .filter-header .date-input,
    .filter-header .selector {
        width: 20%;
        border-top: 1px solid #dedede
    }
    .flat-mega-menu>ul>.title i {
        display: none!important
    }
    .filter-title {
        top: 40%
    }
    .filter-header {
        max-width: 100%;
        height: auto;
        overflow: auto
    }
    .content-central {
        margin-top: 0;
        margin-bottom: -150px
    }
    .title-header h1 {
        font-size: 2rem;
        line-height: 2.4rem
    }
    .filter-header .date-input {
        font-size: .7rem
    }
    .filter-header input[type=submit] {
        width: 100%
    }
    .content-boxes .item-boxed {
        margin-bottom: 30px;
        display: block
    }
    .image-boxed {
        float: none!important;
        width: 100%!important;
        display: block!important
    }
    .image-boxed img {
        width: auto!important
    }
    .info-boxed {
        width: 100%!important;
        top: 0;
        margin-bottom: 30px;
        height: auto
    }
    .boxed-bottom {
        border-bottom: 0!important
    }
    .boxed-top {
        border-top: 0!important
    }
    .services-lines li {
        width: 33.33%
    }
    .image-boxed a.more-boxe {
        top: 60%
    }
    .filter-header .input-large {
        width: 51%
    }
    .selector1 select {
        width: 208px
    }
    .slider-horizontal {
        width: 158px
    }
}
@media handheld,
only screen and (max-width: 360px) {
    .featured-badge,
    .featured_badge_view {
        width: 136px;
        height: 86px;
        background: url(../img/icons/reco.png) no-repeat;
        position: absolute;
        top: 0;
        z-index: 7
    }
    .featured_badge_view {
        right: -220px
    }
    .featured-badge {
        right: 0
    }
    .product h4,
    .product p {
        width: 100px
    }
}
@media handheld,
only screen and (max-width: 470px) {
    .filter-header .input-large,
    .filter-header .selector,
    .filter-header input[type=submit] {
        width: 100%
    }
    .title-header h1,
    .title-header p {
        display: none
    }
    .filter-header .date-input {
        width: 100%;
        font-size: .7rem
    }
    .services-lines li {
        width: 50%
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bus_rec_badge {
        margin-left: 163px
    }
    .significant_badge {
        right: 0
    }
    .featured_badge_view {
        right: -188px
    }
    .tp-simpleresponsive {
        height: 450px!important
    }
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .sort-by-container ul li {
        padding: 0;
        width: 100%;
        margin-right: 15px;
        display: inline-block
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mob_pad_10 {
        padding-top: 10px
    }
    .sort-by-container ul li {
        padding: 0;
        width: 100%;
        margin-right: 15px;
        display: inline-block
    }
    .hovereffect h3 {
        font-size: 14px;
		padding: 10px;
    }
    .hovereffect .overlay a {
        font-size: 10px
    }
    .hovereffect a.info {
        margin: 12px 0 0
    }
    .seach_btn {
        width: 100%
    }
    .sort-by-container {
        padding: 0 10px 24px
    }
    .list_view_bottom {
        padding: 10px 12px 44px
    }
    .post-meta {
        font-size: 12px
    }
    .post-meta li {
        padding-top: 3px;
        margin-right: 4px
    }
    .j-forms {
        background-color: #fff!important
    }
    .sort-by-container ul .deal_admin_top {
        width: 100%!important
    }
    .tp-simpleresponsive {
        height: 500px!important;
        width: 100%
    }
    .paddings-mini {
        padding: 0
    }
}
@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .top_pad_10 {
        padding-top: 10px
    }
    .seach_btn {
        width: 100%
    }
    .modal-dialog3 {
        padding-top: 140px
    }
    .featured_badge_view {
        right: 0
    }
    .bus_rec_badge {
        margin-left: 164px
    }
    .recentad_heig {
        padding-bottom: 20px
    }
    .significant_badge {
        left: 208px!important
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 360px) {
    
    .top_pad_10 {
        padding-top: 10px
    }
    .selector1 select {
        height: 50px;
        width: 284px
    }
    .view_price {
        font-size: 10px
    }
    .loca_pad {
        padding: 12px 26px
    }
    .fa-2x {
        font-size: 16px
    }
    .main_logo {
        margin-top: -17px!important
    }
    .recentad_heig {
        padding-bottom: 20px
    }
    #aa,
    .des_rec_heig,
    .top_head {
        display: none
    }
    .fa-bars {
        color: #333
    }
    .modal-dialog3 .j-forms .label {
        font-size: 11px
    }
    .modal-dialog3 .j-forms .rating-group .label {
        font-size: 12px
    }
    .btn-4 {
        padding: 9px 17px 7px 16px
    }
    .post-header1 {
        padding: 5px 33px 22px 36px;
        float: right
    }
    .desc_bot_img iframe,
    .desc_bot_img img,
    .desc_top_img iframe,
    .desc_top_img img {
        width: 100%;
		height: 70px;
		margin-bottom: 20px;
		margin-top: 20px;
    }
    .home_form {
        background-color: #fff;
        border: 2px solid #5ec3a3;
        padding: 7px 10px;
        height: 273px
    }
    .package_ckech label,
    tr .preview img {
        width: 80px
    }
    .set-2 ul li {
        padding-bottom: 10px
    }
    .significant_ad img {
        width: 318px!important;
        height: 232px!important
    }
    .j-forms {
        background-color: none!important;
        box-shadow: none!important
    }
    .section-title-01 {
        height: 120px!important
    }
    .tparrows {
        display: none!important
    }
}
@media screen and (min-device-width: 361px) and (max-device-width: 640px) {
    .tp-caption.large_bold_white {
        font-size: 20px!important;
        top: 142.65px!important
    }
    .tp-caption.small_light_white {
        font-size: 16px!important;
        top: 152.65px!important
    }
    .filter-title {
        top: 43%
    }
    .main_logo {
        margin-top: -17px!important
    }
    .post-header1 {
        padding: 5px 33px 22px 36px;
        float: right
    }
    .package_ckech label,
    tr .preview img {
        width: 100px
    }
}
@media screen and (min-device-width: 481px) and (max-device-width: 640px) {
    .tp-caption.large_bold_white {
        font-size: 20px!important;
        top: 142.65px!important
    }
    .tp-caption.small_light_white {
        font-size: 16px!important;
        top: 152.65px!important
    }
    .filter-title {
        top: 43%
    }
    .filter-header .input-large {
        width: 50%;
        background: 0 0;
        padding-top: 6px;
        padding-left: 10px
    }
    .filter-header {
        height: 107px
    }
    .selector1 select {
        width: 285px
    }
    .main_logo {
        margin-top: -17px!important
    }
    .post-header1 {
        padding: 5px 33px 22px 36px;
        float: right
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .add_top iframe,
    .add_top img {
        width: 100%;
        height: 151px
    }
    .add_left iframe,
    .add_left img {
        width: 100%;
		height: 155px;
		padding: 15px;
    }
    .add_middle iframe,
    .add_middle img {
        width: 100%;
        height: 70px;
        padding-bottom: 20px
    }
    .featured_badge_view {
        right: 0
    }
    .bus_rec_badge {
        margin-left: 164px
    }
    .significant_badge {
      	 left: 179px;
		right: 0;
    }
    .modal-dialog {
        width: 320px;
        margin: 30px auto
    }
    .modal-body {
        padding: 34px
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .filter-title {
        top: 53%
    }
    .tp-caption.large_bold_white {
        font-size: 28px!important;
        top: 142.65px!important
    }
    .tp-caption.small_light_white {
        font-size: 22px!important;
        top: 152.65px!important
    }
    .filter-header .input-large {
        width: 17%;
        background: 0 0;
        padding-top: 6px;
        padding-left: 10px
    }
    .main_logo {
        margin-top: -17px!important
    }
    .add_top iframe,
    .add_top img {
        width: 706px;
        height: 159px
    }
    .add_left iframe,
    .add_left img {
        width: 100%;
        height: 108px
    }
    .add_middle iframe,
    .add_middle img {
        width: 100%;
        height: 90px
    }
    .desc_bot_img iframe,
    .desc_bot_img img,
    .desc_top_img iframe,
    .desc_top_img img {
        width: 719px;
        height: 129px
    }
    .modal-dialog3 {
	    width: 100%;
	    padding-top: 111px;
	    margin: 30px auto;
	}
}
@media screen and (max-width: 1037px) {
    .tp-caption.large_bold_white {
        top: 142.65px!important
    }
    .tp-caption.small_light_white {
        top: 152.65px!important
    }
    .filter-title {
        top: 55%
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 680px) {
    .serch_bus_logo img {
        display: none
    }
    .cont_left {
        padding: 0 5px 0 0;
        border: 0 solid #9FC955
    }
    address {
        line-height: 27px;
        padding-left: 12px;
        min-height: 58px;
        font-size: 12px
    }
    .portfolioFilter a {
        font-size: 17px;
		line-height: 42px;
		margin: auto 5px;
		padding-bottom: 0;
    }
    .nav-tabs li a {
	    padding: 10px 6px !important;
	    font-size: 10px;
	}
	.view_sidebar1 ul li a, .imp {
	    color: #333;
	}
	.view_sidebar1 {
	    display: none;
	}
	.imp_tant1 {
	    font-size: 18px;
	    color: #333;
	}
	.view_sidebar1 ul li a, .imp {
	    color: #333;
	}
}
@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
   	.hovereffect h3 {
	    font-size: 10px;
	}
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .serch_bus_logo img {
        display: none
    }
    .cont_left {
        padding: 4px 3px 0 0;
        border: 0 solid #9FC955
    }
    address {
        line-height: 24px;
        padding-left: 7px;
        min-height: 60px;
        font-size: 12px
    }
    .content-central {
        margin-top: -86px
    }
    .hovereffect img {
        height: 137px
    }
}