/* ---------------------------------------------------------------------- */
/*	Version 1500px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1500px) {
	.layout-wide .crumbs:before{
	    left: 15%;
	}
	/* Filter Header - Title Header ------------------------------*/
	.filter-title{
		top: 56%;
		left: 0%;
		margin-left: 0;
		width: 100%;
	}
	.title-header h1{
		font-size: 4rem;
		line-height: 4.3rem;
	}
	.filter-header{
		max-width: 80%;
	}
}
/* ---------------------------------------------------------------------- */
/*	Version 1280px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1250px) {
	.flat-mega-menu > ul > li > a {
		padding-left: 8px;
		padding-right: 8px;
		font-size: 0.78rem;
	}
	.flat-mega-menu > ul > .title i{
		right: 20%;
	}
	/* Filter Header - Title Header ------------------------------*/
	.filter-title{
		top: 28%;
		left: 0%;
		margin-left: 0;
		width: 100%;
	}
	.title-header h1{
		font-size: 3.5rem;
		line-height: 3.7rem;
	}
	.layout-semiboxed .flat-mega-menu .container,
	.layout-semiboxed footer .container{
		width: auto !important;
		padding-right: 15px !important;
  		padding-left: 15px !important;
	}
}
/* ---------------------------------------------------------------------- */
/*	Version 1024px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1024px) {

	.section-title{
		height: 290px;
	}
	.semiboxshadow img {
		display: none;
	}
}
/* ---------------------------------------------------------------------- */
/*	 Version 1000px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 999px) {
	html {
		font-size: 14px;
	}
	
	header{		
		position: relative;		
	}
	.content-info{	
		max-width: auto;
		margin-top: 0;
		margin-bottom: -120px;
	}

	.layout-wide .content-info{	
		max-width: auto;	
	}
	.layout-wide .semiboxshadow{
		display: none;
	}
	.layout-boxed-margin{
		max-width: 1230px;
		margin: 0 auto;
	}
	.footer-down,
	.footer-down ul,
	header{
		text-align: center;
	}
	footer h4,
	.post-item h4{
		margin-top: 20px;
	}
	.img-footer{
		margin-top: 60px;
	}
	.footer-v3 .img-footer{
		margin-top: 0;
		margin-bottom: 0;
	}

	/* Filter Header - Title Header ------------------------------*/
	.header-v1{	
		/* background: rgba(0,0,0,0.7); */
		max-height: 2000px !important;	
	}
	.flat-mega-menu > ul > .title > a{
		padding-left: 0;
		padding-right: 0;
	}
	.flat-mega-menu > ul > .title i{
		right: 40%;
	}
	.flat-mega-menu > ul > li > a {
		font-size: 1rem;
	}
	.filter-title{
		top: 35%;
		left: 10%;
		margin-left: -5%;
		width: 90%;
	}
	.title-header h1{
		font-size: 3rem;
		line-height: 3.4rem;
	}
	.title-header p{
		max-width: 700px;
	}
	.filter-header{
		max-width: 100%;
	}
	.content-central{	
		margin-top: -50px;
		margin-bottom: -150px;
	}
	.services-lines{
		width: 100%;
		margin-top: 30px;
	}
	.services-lines-info{
		text-align: center;
	}
	.services-lines-info p.lead .line {
	  margin: 20px auto;
	}
	.promotion-box{
		max-width: 350px;
		margin:0 auto 30px auto;
	}
	.info-testimonial{
		width: 100%;
		margin-left: 0;
	}
	#slide-features .btn{
		margin-bottom: 20px;
	}
	/* footer{
		text-align: center;
	} */
	.testimonial-info{
		text-align: center;
		padding-bottom: 100px;
	}
	.content-boxes .item-boxed{
		width: 100%;
	}
	.testimonial-info{
		padding-top: 80px;
	}
	footer .input-group{
		margin-bottom: 20px;
	}
	.footer-v1 ul.nav-footer{
		margin-top: 10px;
	}
	.section-title-01 h1{
		padding-top: 180px;
	}
	.section-title-02,
	.section-title-03{
		text-align: center;
		height: 300px;
	}
	.section-title-02 .crumbs,
	.section-title-03 .crumbs{
	  padding: 0;
	  text-align: center;
	}
	.section-title-03 h1{
		padding: 110px 0 10px 0;
	}
	.section-title-03 .crumbs ul {
	  margin: 10px auto;
	  padding: 10px;
	  list-style: none;
	}
	.item-table{
		margin:0 auto 30px auto;
		max-width: 380px;
		border:1px solid #dedede !important;
	}

}
/* ---------------------------------------------------------------------- */
/*	 Mobile Version 768px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 768px) {
	.list-styles li a{
		font-size: 11px;
	}

}
/* ---------------------------------------------------------------------- */
/*	 Version 600px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 600px) {
	.flat-mega-menu > ul > .title i{
		display: none !important;
	}
	.filter-title{
		top: 40%;
	}
	.filter-header{
		max-width: 100%;
		height: auto;
		overflow: auto;
	}
	.content-central{	
		margin-top: 0;
		margin-bottom: -150px;
	}
	.title-header h1{
		font-size: 2rem;
		line-height: 2.4rem;
	}
	.filter-header .input-large{
		width: 40%;
	}
	.filter-header .date-input{
		width: 20%;
		font-size: 0.7rem;
		border-top: 1px solid #dedede;
	}
	.filter-header .selector {
		width: 20%;
		border-top: 1px solid #dedede;
	}
	.filter-header input[type="submit"]{
		width: 100%;
	}
	.content-boxes .item-boxed{
		margin-bottom: 30px;
		display: block;
	}
	.image-boxed{
		float: none !important;
	  	width: 100% !important;
	  	display: block !important;
	}
	.image-boxed img{
		width: auto !important;
	}
	.info-boxed{
	  	width: 100% !important;
	  	top: 0;
	  	margin-bottom: 30px;
	  	height: auto;
	}
	.boxed-bottom{
		border-bottom: 0 !important;
	}
	.boxed-top{
		border-top: 0 !important;
	}
	.services-lines li{
		width: 33.33%;
	}
	.image-boxed a.more-boxe{
		top: 60%;
	}
	.filter-header .input-large {
		width: 51%;
	}
	.selector1 select {
		width: 208px;
	}
	.slider-horizontal{
		width:158px;
	}
}
/* ---------------------------------------------------------------------- */
/*	 Version 360px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 360px) {
	.featured_badge_view {
		width: 136px;
		height: 86px;
		background: transparent url("../img/icons/reco.png") no-repeat;
		position: absolute;
		top: 0;
		z-index: 7;
		right: -220px;
	}
	.featured-badge {
		width: 136px;
		height: 86px;
		background: transparent url("../img/icons/reco.png") no-repeat;
		position: absolute;
		top: 0;
		z-index: 7;
		right: 0;
	}

	.sort-by-container ul li {
		padding: 0;
		width: 100%;
		margin-right: 15px;
		display: inline-block;
	}
}

/* ---------------------------------------------------------------------- */
/*	 Version 480px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 470px) {
	.title-header p,
	.title-header h1{
		display: none;
	}
	.filter-header .input-large{
		width: 100%;
	}
	.filter-header .date-input{
		width: 100%;
		font-size: 0.7rem;
	}
	.filter-header .selector {
		width: 100%;
	}
	.filter-header input[type="submit"]{
		width: 100%;
	}
	.services-lines li{
		width: 50%;
	}
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.most_valued_badge{
		left: 105px;
	}
	.bus_rec_badge {
		margin-left: 151px;
	}
	.significant_badge {
		margin-left: 246px;
	}
}
@media screen and (min-device-width: 320px) and (max-device-width: 360px) {
	.portfolioFilter a {
		font-size: 12px;
		line-height: 24px;
	}
	.portfolioFilter a {
		margin: auto 6px;
		padding-bottom: 0px;
	}
	.post_deal_bor {
		border: 2px solid rgb(155, 147, 147);
		padding: 11px 7px 0px;
		width: 256px;
	}
	.selector1 select {
		height: 50px;
		width: 284px;
	}
	.btn-4 {
		padding: 2px 21px 0px 20px;
	}
	.view_price {
		font-size: 10px;
	}
	.tp-caption.large_bold_white {
		font-size: 16px !important;
		top: 142.649px !important;
	}
	.tp-caption.small_light_white {
		font-size: 12px !important;
		top: 152.649px !important;
	}
	.loca_pad{
		padding: 12px 26px;
	}
	.fa-2x{
		font-size:16px;
	}
	.main_logo {
		margin-top: -17px !important;
	}
	.recentad_heig{
		display:none;
	}
	.des_rec_heig, #aa, .top_head{
		display:none;
	}
	.fa-bars{
		color:#333;
	}
	.modal-dialog3 {
		padding-top: 100px;
	}
	.modal-dialog3 .j-forms .label {
		font-size: 11px;
	}
	.modal-dialog3 .j-forms .rating-group .label {
		font-size: 12px;
	}
	.btn-4 {
		padding: 10px 29px 10px 28px;
	}
	.post-header1 {
		padding: 5px 33px 22px 36px;
		float: right;
	}
	.top_pad_10{
		padding-top:10px;
	}
	.add_top img,
	.add_top iframe{
		width: 289px;
		height: 151px;
	}
	.add_left img,
	.add_left iframe{
		width: 289px;
		height: 155px;
		padding-bottom: 23px;
	}
	.add_middle img,
	.add_middle iframe{
		width: 289px;
		height: 70px;
		padding-bottom: 20px;
	}
	.desc_top_img img,
	.desc_top_img iframe{
		width: 289px;
		height: 70px;
	}
	.desc_bot_img img,
	.desc_bot_img iframe{
		width: 289px;
		height: 70px;
	}
	.home_form{
		background-color:#fff;
		border: 2px solid rgb(94, 195, 163);
		padding: 7px 10px;
		height: 273px;
	}
	.most_valued_badge{
		left: 156px;
	}
	.bus_rec_badge {
		margin-left: 170px;
	}
	.significant_badge {
		margin-left: 246px;
	}
	
	/* .loca_pad {
		padding: 0px 6px;
	}
	.home_btn {
		width: 78px;
		padding: 0 13px !important;
	} */
	
}
@media screen and (min-device-width: 361px) and (max-device-width: 640px) {
	
	.tp-caption.large_bold_white {
		font-size: 20px !important;
		top: 142.649px !important;
	}
	.tp-caption.small_light_white {
		font-size: 16px !important;
		top: 152.649px !important;
	}
	.filter-title {
		top: 43%;
	}
	.main_logo {
		margin-top: -17px !important;
	}
	.post-header1 {
		padding: 5px 33px 22px 36px;
		float: right;
	}
}
/* @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
	
	.home_form{
		background-color:#fff;
		border: 2px solid rgb(94, 195, 163);
		padding: 7px 10px;
		height: 273px;
	}
	.loca_pad {
		padding: 0px 6px;
	}
	.home_btn {
		width: 78px;
		padding: 0 13px !important;
	}
} */

/* @media screen and (min-device-width: 361px) and (max-device-width: 480px) {
	
	.tp-caption.large_bold_white {
		font-size: 20px !important;
		top: 142.649px !important;
	}
	.tp-caption.small_light_white {
		font-size: 16px !important;
		top: 152.649px !important;
	}
	.filter-title {
		top: 43%;
	}
}

@media screen and (max-width: 768px){
	
	.filter-title {
		top: 53%;
	}
	.tp-caption.large_bold_white {
		font-size: 28px !important;
		top: 142.649px !important;
	}
	.tp-caption.small_light_white {
		font-size: 22px !important;
		top: 152.649px !important;
	}
	.filter-header .input-large{
		width: 18%;
		background: #fff url("../img/icons/search.png") no-repeat scroll left 6px;
		padding-top: 6px;
		padding-left: 10px;
	}
}
@media screen and (max-width: 1024px){
	
	.filter-title {
		top: 55%;
	}
	.tp-caption.large_bold_white {
		font-size: 28px !important;
		top: 142.649px !important;
	}
	.tp-caption.small_light_white {
		font-size: 22px !important;
		top: 152.649px !important;
	}
	
	.filter-header input[type="submit"] {
		width:8%;
	} 
} */

@media screen and (min-device-width: 481px) and (max-device-width: 640px) {
	
	.tp-caption.large_bold_white {
		font-size: 20px !important;
		top: 142.649px !important;
	}
	.tp-caption.small_light_white {
		font-size: 16px !important;
		top: 152.649px !important;
	}
	.filter-title {
		top: 43%;
	}
	.filter-header .input-large{
		width: 50%;
		background: none;
		padding-top: 6px;
		padding-left: 10px;
	}
	.filter-header {
		height: 107px;
	}
	.selector1 select {
		width: 285px;
	}
	.main_logo {
		margin-top: -17px !important;
	}
	.post-header1 {
		padding: 5px 33px 22px 36px;
		float: right;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
	
	.filter-title {
		top: 53%;
	}
	.tp-caption.large_bold_white {
		font-size: 28px !important;
		top: 142.649px !important;
	}
	.tp-caption.small_light_white {
		font-size: 22px !important;
		top: 152.649px !important;
	}
	
	.filter-header input[type="submit"] {
		width:10%;
	}
	.filter-header .input-large{
		width: 17%;
		background: none;
		padding-top: 6px;
		padding-left: 10px;
	}
	.main_logo {
		margin-top: -17px !important;
	}
	.add_top img,
	.add_top iframe{
		width: 719px;
		height: 159px;
	}
	.add_left img,
	.add_left iframe{
		width: 158px;
		height: 108px;
	}
	.add_middle img,
	.add_middle iframe{
		width: 539px;
		height: 90px;
	}
	.desc_top_img img,
	.desc_top_img iframe{
		width: 719px;
		height: 129px;
	}
	.desc_bot_img img,
	.desc_bot_img iframe{
		width: 719px;
		height: 129px;
	}
	
	/* .slider-horizontal{
		width: 100px !important;
	}
	.home_btn{
		width: 75px;
		font-size:12px;
	} */
}

@media screen and (max-width: 1037px){
	
	.tp-caption.large_bold_white {
		font-size: 28px !important;
		top: 142.649px !important;
	}
	.tp-caption.small_light_white {
		font-size: 22px !important;
		top: 152.649px !important;
	}
	.filter-title {
		top: 50%;
	}
}
 
 
 
 
 




