

.main{
	border : 0px solid #8789E7;
	background : ;
}
#loading{
	visibility:hidden;
	padding-left:5px;
}
#ajax_response{
	background : #f4f4f4;
	position:absolute;
	display:none;
	padding:2px 2px;
	top: 56px;
	left: 550.217px;
	width: 210px;
	z-index: 999 !important;
}

#ajax_response1{
	background : #f4f4f4;
	position:absolute;
	display:none;
	padding:2px 2px;
	top: 56px;
	left: 5px;
	width: 181px;
	z-index: 999 !important;
}


